@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Topics
@model AdminTopicViewModel

<div class="topic@(Model.IsPriority ? " priority" : "")">
    <div class="topic-statistic">
        <div>
            <strong>@Model.Votes</strong>
            гласа
        </div>
        <div>
            <strong>@Model.AnswerCount</strong>
            отговора
        </div>
        <div>
            <strong>@Model.Views</strong>
            посещения
        </div>
        <div>
            <strong>@Model.Flags</strong>
            флага
        </div>
    </div>
    <div class="topic-content">
        @Html.ActionLink(Model.Title, "AdminDisplayTopic", new { id = Model.Id }, new { @class = "topic-title" })
        <h4>категория: @Model.Category</h4>
        <div>
            от
            @Html.ActionLink(Model.Author, "DisplayProfile", new { controller = "Profile", userName = Model.Author }, new { target = "_blank", @class = "author-link" })
            (@Model.AuthorPoints точки)
            на <span>@Model.DateCreated</span>
        </div>
    </div>
</div>
