@using Crossroads.Web.ViewModels.ForumViewModels.Comments
@model EditCommentViewModel
@using (Ajax.BeginForm("EditComment", "Comments",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "comment" + Model.Id,
            OnBegin = "formHide('#editCommentForm" + Model.Id + "')",
            OnSuccess = "editedOnSuccess('#comment" + Model.Id + "')"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserName)
    @Html.EditorFor(m => m.Content)
    <div class="buttons">
        <input class="default-btn" type="submit" value="Промени" />
        <a class="refuse-btn" onclick="formHide('#editCommentForm@(Model.Id)')" href="javascript:void(0)">Откажи</a>
    </div>
}

<script type="text/javascript" language=javascript>
    $.validator.setDefaults({
        ignore: ""
    });
    $.validator.unobtrusive.parse($('#editCommentForm@(Model.Id)'));
</script>