@using Crossroads.Web.ViewModels.ForumViewModels.Topics
@model AddTopicViewModel
@{
    ViewBag.Title = "Добавяне на нова тема";
}

@using (Html.BeginForm("AddTopic", "Topics", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.CategoryId)
    @Html.TextBoxFor(m => m.Title, new { @class = "default-input", placeholder = "Заглавие" })
    @Html.EditorFor(m => m.Content)
    <div class="buttons">
        <input class="default-btn" type="submit" value="Добави" />
    </div>
}

@section JavaScript {
    @Scripts.Render("~/bundles/jquery")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('body').addClass('add-topic-page');
    </script>
}
