@model Crossroads.Web.ViewModels.ProfileViewModels.Comments.CommentViewModel
@using Crossroads.Web.Infrastructure.Constants

<div class="profile-comment" id="profileComment@(Model.Id)">
    <div class="left-comment-wrap">
        @if (Model.Image != null)
        {
            <img src="@Url.Action("GetImage", "Profile", new { image = Model.Image, limitWIdth = 100 })" alt="Аватар" />
        }
        else
        {
            <img src="@Url.Content("~/Content/img/no-photo.png")" alt="Аватар" />
        }

        @if (Model.AuthorName == User.Identity.Name || Model.ProfileUserName == User.Identity.Name)
        {
            <div class="comment-btns">
                @Ajax.ActionLink("Изтрий", "DeleteComment", "ProfileComments", new { commentId = Model.Id },
                    new AjaxOptions
                    {
                        UpdateTargetId = "profileComment" + Model.Id,
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        Confirm = "Потвърждавате ли изтриването?"
                    })

                @if (Model.AuthorName == User.Identity.Name)
                {
                    @Ajax.ActionLink("Промени", "EditComment", "ProfileComments", new { commentId = Model.Id, userName = Model.AuthorName },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "editProfileCommentForm" + Model.Id,
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "formShow('editProfileCommentForm" + Model.Id + "')"
                    })
                }
            </div>
        }
    </div>
    <div class="comment-info-wrap">
        <div class="comment-author-date">
            от: @Html.ActionLink(@Model.AuthorName, "DisplayProfile", new { controller = "Profile", userName = @Model.AuthorName })
            на: <em>@Model.DateCreated</em>
        </div>
        <div class="comment-content">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

<div id="editProfileCommentForm@(Model.Id)" class="edit-profile-comment-form"></div>
