@using Crossroads.Web.ViewModels.ProfileViewModels
@using Crossroads.Web.ViewModels.ProfileViewModels.Comments
@using Crossroads.Web.ViewModels.ProfileViewModels.Messages
@using Crossroads.Web.Infrastructure.Constants
@model DisplayProfileViewModel
@{
    ViewBag.Title = "Профил на " + Model.UserName;
}

<h2 class="page-title">
   <span class="profile-user-name">@ViewBag.Title</span>
    @if (Model.IsUserOnline)
    {
        <span class="profile-online">Online</span>
    }
    else
    {
        <span class="profile-offline">Offline</span>
    }

    @if (User.Identity.Name == Model.UserName)
    {
        @Html.ActionLink("Редактирай", "EditProfile", new { userName = Model.UserName }, new { @class = "edit-profile" })
    }
</h2>

@if (User.Identity.Name == Model.UserName)
{
    <span id="unreadMessages">
        Непрочетени съобщения:
        <strong>@Model.UnreadMessages</strong>
        @Ajax.ActionLink("Покажи", "DisplayMessages", "ProfileMessages", new { id = Model.Id },
        new AjaxOptions
        {
            UpdateTargetId = "profileMessages",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "profileMessagesHide",
            OnSuccess = "profileMessagesShow"
        }, new { @class = "default-btn" })
    </span>
    <div id="profileMessages"></div>
}
else
{
    @Ajax.ActionLink("Изпрати съобщение", "PostMessage", "ProfileMessages", new { profileId = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "profileMessageForm",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "formShow('profileMessageForm')"
        }, new { @class = "default-btn send-message" })

    <div id="msgSuccsess"></div>
    <div id="profileMessageForm"></div>
}

<div class="profile-info">
    @if (Model.Image != null)
    {
        <div class="profile-image">
            <img src="@Url.Action("GetImage", "Profile", new { image = Model.Image })" alt="Аватар" />
        </div>
    }
    <div class="profile-info-right">
        <h3>Обща информация</h3>
        <div class="profile-info-group">
            <strong>Име:</strong>
            @if (Model.FirstName != null)
            {
                @Model.FirstName
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Фамилия:</strong>
            @if (Model.LastName != null)
            {
                @Model.LastName
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Пол:</strong>
            @if (Model.IsMale != null)
            {
                if (Model.IsMale == true)
                {
                    @("мъж")
                }
                else
                {
                    @("жена")
                }
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Град:</strong>
            @if (Model.Town != null)
            {
                @Model.Town
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Години:</strong>
            @if (Model.BirthDate != null)
            {
                @Html.Action("GetAge", new { birthday = Model.BirthDate })
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Регистриран на:</strong>
            @Model.DateCreated.ToShortDateString()
        </div>
        <div class="profile-info-group">
            <strong>Форум точки:</strong> @Model.ForumPoints
        </div>
    </div>
    <div class="profile-info-middle">
        <h3>Допълнителна информация</h3>
        <div class="profile-info-group">
            <strong>Любими групи:</strong>
            @if (Model.Bands != null)
            {
                @Model.Bands
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
        <div class="profile-info-group">
            <strong>Стилове музика:</strong>
            @{
                int genresCount = Model.MusicGenres.Count;
                if (genresCount > 0)
                {
                    for (int i = 0; i < genresCount; i++)
                    {
                        @Model.MusicGenres.ElementAt(i).Name
                        if (i < genresCount - 1)
                        {
                            @(", ")
                        }
                    }
                }
                else
                {
                    <em>Няма информация</em>
                }
            }
        </div>
        <div class="profile-info-group">
            <strong>Интереси:</strong>
            @{
                int interestsCount = Model.Interests.Count;
                if (interestsCount > 0)
                {
                    for (int i = 0; i < interestsCount; i++)
                    {
                        @Model.Interests.ElementAt(i).Name
                        if (i < interestsCount - 1)
                        {
                            @(", ")
                        }
                    }
                }
                else
                {
                    <em>Няма информация</em>
                }
            }
        </div>
    </div>
    <div>
        <h3>За мен</h3>
        <div class="profile-info-group">
            @if (!String.IsNullOrWhiteSpace(Model.About))
            {
                @Model.About
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
    </div>
</div>

<h3>
    Коментари
    @if (User.Identity.Name != Model.UserName)
    {
        @Ajax.ActionLink("Напиши коментар", "PostComment", "ProfileComments", new { profileId = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "profileCommentForm",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "formShow('profileCommentForm')"
        }, new { @class = "add-comment-btn" })
    }
</h3>
<div id="profileCommentForm"></div>
<div id="profileComments">
    @if (Model.ProfileComments.Count > 0)
    {
        foreach (var comment in Model.ProfileComments.Reverse())
        {
            @Html.Partial(Partials.ProfileComment, comment)
        }
    }
    else
    {
        <em id="noComments">Няма коментари.</em>
    }
</div>

@section JavaScript {
    @Scripts.Render("~/bundles/jquery")
}

@section CSS {
    @Styles.Render("~/Scripts/tinymce/skins/lightgray/skin.min.css")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jquery-ui")

    <script>

        $('body').addClass('display-profile-page');

        function formShow(id) {
            $('#' + id).show('slow');
        }

        function formHide(id) {
            $('#' + id).hide('slow');
        }

        function messageOnSuccess() {
            $('#msgSuccsess').fadeOut(2000);
        }

        function profileMessagesShow() {
            $("#profileMessages").show('slow');
            $(this).text("Скрий")
        }

        function editedOnSuccess(id) {
            $('#' + id).hide('slow');
            $('#' + id).show('slide', { direction: 'right' }, 'slow');
        }

        function formAndNoCommentsHide(id) {
            formHide(id);
            var comments = $('#noComments');
            if (comments.css('display') != 'none') {
                comments.hide();
            }
        }

        function profileMessagesHide() {
            if ($("#profileMessages").css('display') == 'block') {
                $("#profileMessages").hide('slow');
                $(this).text("Покажи");
                return false;
            }
            return true;
        }

        function messageContentShow() {
            var parentDiv = $(this).parent();
            if (parentDiv.hasClass('msg-not-read')) {
                var unreadMessages = $('#unreadMessages strong');
                var count = unreadMessages.text();
                count -= 1;
                unreadMessages.text(count);
                parentDiv.removeClass('msg-not-read');
            }

            parentDiv.next('.msg-container').show('slow');
            $(this).text("Скрий");
        }

        function messageContentHide() {
            var parentDiv = $(this).parent();
            var currentMsgContent = parentDiv.next('.msg-container');
            if (currentMsgContent.css('display') == 'block') {
                currentMsgContent.hide('slow');
                $(this).text("Детайли");
                return false;
            }

            return true;
        }

    </script>
}
