@using Crossroads.Web.Infrastructure.Constants
@using Crossroads.Web.ViewModels.ForumViewModels
@using Crossroads.Web.ViewModels.ForumViewModels.Topics
@model List<TopTopicViewModel>
@{
    ViewBag.Title = "ТОП 30 Теми";
}

<h2 class="page-title">ТОП 30 Теми</h2>

<div class="topics">
    @foreach (var topic in Model)
    {
        <div class="topic">
            <div class="topic-statistic">
                <div>
                    <strong>@topic.Votes</strong>
                    гласа
                </div>
                <div>
                    <strong>@topic.Answers</strong>
                    отговора
                </div>
                <div>
                    <strong>@topic.Views</strong>
                    посещения
                </div>
            </div>
            <div class="topic-content">
                @Html.ActionLink(@topic.Title, "DisplayTopic", new { controller = "Topics", topicId = topic.Id }, new { @class = "topic-title" })
                <h4>@topic.Category</h4>
                <div>
                    от
                    @Html.ActionLink(topic.AuthorUserName, "DisplayProfile",
                        new { controller = "Profile", userName = topic.AuthorUserName },
                        new { @class = "author-link", target = "_blank" })
                    (@topic.AuthorPoints точки)
                    на <span>@topic.DateCreated</span>
                </div>
                @if (topic.LastAnswerAuthorUserName != null)
                {
                    <div>
                        последен отговор от
                        @Html.ActionLink(topic.LastAnswerAuthorUserName, "DisplayProfile",
                            new { controller = "Profile", userName = topic.LastAnswerAuthorUserName },
                            new { @class = "author-link", target = "_blank" })
                        (@topic.LastAnswerAuthorPionts точки)
                        на <span>@topic.LastAnswerDateCreated</span>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $('body').addClass('topics-page top');
    </script>
}