@using Crossroads.Web.Areas.Administration.ViewModels.UserViewModels.Users
@model DisplayUserViewModel
@{
    ViewBag.Title = Model.UserName;
}


<h2 class="page-title">
    @ViewBag.Title

    @if (Model.IsUserOnline)
    {
        <span class="profile-online">Online</span>
    }
    else
    {
        <span class="profile-offline">Offline</span>
    }
</h2>

<div class="user-info">
    @if (TempData["UserNameError"] != null)
    {
        <div class="error">
            @TempData["UserNameError"]
        </div>
    }
    <div class="account-info">
        <div class="profile-info-group">
            <strong>Email:</strong>
            @Model.Email
        </div>
        <div class="profile-info-group">
            <strong>Парола:</strong>
            **********
        </div>
        <div class="profile-info-group">
            <strong>Последно активен:</strong>
            @if (Model.LastActionTime != null)
            {
                @Model.LastActionTime
            }
            else
            {
                <em>Няма информация</em>
            }
        </div>
    </div>
    <div class="profile-info">
        <div>
            @if (Model.Image != null)
            {
                <div class="profile-image">
                    <img src="@Url.Action("GetImage", new { image = Model.Image })" alt="Аватар" />
                </div>
            }
        </div>
        <div class="profile-info-right">
            <h3>Обща информация</h3>
            <div class="profile-info-group">
                <strong>Име:</strong>
                @if (Model.FirstName != null)
                {
                    @Model.FirstName
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Фамилия:</strong>
                @if (Model.FirstName != null)
                {
                    @Model.LastName
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Пол:</strong>
                @if (Model.IsMale != null)
                {
                    if (Model.IsMale == true)
                    {
                        @("мъж")
                    }
                    else
                    {
                        @("жена")
                    }
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Град:</strong>
                @if (Model.Town != null)
                {
                    @Model.Town
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Рожденна дата:</strong>
                @if (Model.BirthDate != null)
                {
                    @Model.BirthDate.Value.ToShortDateString()
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Регистриран на:</strong>
                @Model.DateCreated
            </div>
            <div class="profile-info-group">
                <strong>Форум точки:</strong>
                @Model.ForumPoints
            </div>
        </div>
        <div class="profile-info-middle">
            <h3>Допълнителна информация</h3>
            <div class="profile-info-group">
                <strong>Любими групи:</strong>
                @if (Model.Bands != null)
                {
                    @Model.Bands
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
            <div class="profile-info-group">
                <strong>Стилове музика:</strong>
                @{
                    int genresCount = Model.MusicGenres.Count;
                    if (genresCount > 0)
                    {
                        for (int i = 0; i < genresCount; i++)
                        {
                            @Model.MusicGenres.ElementAt(i).Name
                            if (i < genresCount - 1)
                            {
                                @(", ")
                            }
                        }
                    }
                    else
                    {
                        <em>Няма информация</em>
                    }
                }
            </div>
            <div class="profile-info-group">
                <strong>Интереси:</strong>
                @{
                    int interestsCount = Model.Interests.Count;
                    if (interestsCount > 0)
                    {
                        for (int i = 0; i < interestsCount; i++)
                        {
                            @Model.Interests.ElementAt(i).Name
                            if (i < interestsCount - 1)
                            {
                                @(", ")
                            }
                        }
                    }
                    else
                    {
                        <em>Няма информация</em>
                    }
                }
            </div>
        </div>
        <div>
            <h3>За мен</h3>
            <div class="profile-info-group">
                @if (!String.IsNullOrWhiteSpace(Model.About))
                {
                    @Model.About
                }
                else
                {
                    <em>Няма информация</em>
                }
            </div>
        </div>
    </div>
    <div class="user-admin-btns">
        @Html.ActionLink("Промени", "EditUser", new { userName = Model.UserName }, new { @class = "edit-btn" })
        @Html.ActionLink("Изтрий", "DeleteUser", new { userName = Model.UserName }, new { @class = "edit-btn", onclick = "return confirm('Потвърждавате ли изтриването?');" })
    </div>
</div>

@section JavaScriptToFooter {
    <script>
        $('body').addClass('display-profile-page admin');
    </script>
}