@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Answers
@model AdminAnswerViewModel
<div id="answerDiv@(Model.Id)" class="answer-wrap">
    <div class="answer">
        <div class="item-left">
            <a href="/Profile/DisplayProfile/?userName=@Model.Author" target="_blank">
                @if (@Model.AuthorImage != null)
                {
                    <img src="@Url.Action("GetImage", "UsersAdmin", new { image = Model.AuthorImage, limitWidth = 100 })" alt="Аватар" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/img/no-photo-100x100.png")" alt="Аватар" />
                }
            </a>
        </div>
        <div class="item-details">
            <h4 class="admin-item-topic-title">
                Тема: @Html.ActionLink(Model.Topic, "DisplayTopic", new { area = string.Empty, controller = "Topics", topicId = Model.TopicId }, new { target = "_blank" })
            </h4>
            <div class="admin-item-info">
                @Model.Votes рейтинг, @Model.CommentsCount коментари, <span id="answerFlags@(Model.Id)">@Model.Flags</span> флага,
                от:
                @Html.ActionLink(Model.Author, "DisplayUser",
                new { controller = "UsersAdmin", userName = Model.Author },
                new { target = "_blank" })
                (@Model.AuthorPoints точки)
                на <em>@Model.DateCreated</em>
                @if (Model.DateEdited != null)
                {
                    <text>промяна:</text>
                    <em>@Model.DateEdited</em>
                }
            </div>
            @{
                if (Model.AnswerFlags.Count > 0)
                {
                    <div class="flags-users" id="answerFlagsUsers@(Model.Id)">
                        Флагове от потребители:

                        @{ int counter = 0;
                         foreach (var flag in Model.AnswerFlags)
                         {
                            @(flag.User.UserName)

                             counter++;
                             if (counter < Model.AnswerFlags.Count)
                             {
                                @(", ")
                             }
                         }
                        }
                    </div>
                }
            }
            <div id="answer@(Model.Id)" class="item-content">@Html.Raw(@Model.Content)</div>
            <div class="item-btns">
                @Ajax.ActionLink("Промени", "AdminEditAnswer", new { id = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "answer" + Model.Id,
                        InsertionMode = InsertionMode.Replace
                    }, new { @class = "edit-btn" })
                @Ajax.ActionLink("Изтрий", "AdminDeleteAnswer", new { id = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "DELETE",
                        UpdateTargetId = "answerDiv" + Model.Id,
                        InsertionMode = InsertionMode.ReplaceWith,
                        Confirm = "Потвърждавате ли изтриването?"
                    }, new { @class = "delete-btn" })
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateFlags(modelId) {
        var flagDiv = $('#answerFlags' + modelId);
        flagDiv.text('0');
        var flagUsersDiv = $('#answerFlagsUsers' + modelId);
        flagUsersDiv.remove();
    }
</script>

