@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Answers
@using Crossroads.Web.Infrastructure.Constants
@using MvcPaging
@model IPagedList<AdminAnswerViewModel>
@{
    ViewBag.Title = "Отговори";
}
<div class="show-btns">
    @Html.ActionLink("Покажи всички", "ListAnswers")
    @Html.ActionLink("Покажи флагнати", "ListAnswers", new { searchProperty = "Flagged", orderBy = "Flags descending" })
</div>
<div class="admin-filter">
    @using (Html.BeginForm("ListAnswers", "AnswersAdmin", new { searchProperty = "UserName" }))
    {
        <input type="text" name="searchValue" placeholder="@(ViewBag.SearchProperty == "UserName"? @ViewBag.SearchValue : "")" />
        <input type="submit" value="Търси по автор" />
    }
    @using (Html.BeginForm("ListAnswers", "AnswersAdmin", new { searchProperty = "Topic" }))
    {
        <input type="text" name="searchValue" placeholder="@(ViewBag.SearchProperty == "Topic" ? @ViewBag.SearchValue : "")" />
        <input type="submit" value="Търси по тема" />
    }
    @using (Html.BeginForm("ListAnswers", "AnswersAdmin", new { searchValue = ViewBag.SearchValue, searchProperty = ViewBag.SearchProperty }))
    {
        <div class="admin-drop-down">
            <select name="orderBy">
                <option disabled selected>Избери критерий</option>
                @if (String.IsNullOrWhiteSpace(ViewBag.SearchValue) || ViewBag.SearchProperty != "TopicId")
                {
                    <option value="Topic.Title">тема</option>
                }
                @if (String.IsNullOrWhiteSpace(ViewBag.SearchValue) || ViewBag.SearchProperty != "UserName")
                {
                    <option value="AuthorProfile.ProfileUser.UserName">автор</option>
                }
                <option value="DateCreated descending">дата на създаване</option>
                <option value="Votes descending">рейтинг</option>
            </select>
        </div>
        <input type="submit" value="Сортирай" />
    }
</div>
<h2 class="page-title">@ViewBag.Title</h2>
<div id="answersList">
    @if (ViewBag.NothingFound != null)
    {
        @ViewBag.NothingFound
    }
    @foreach (var answer in Model)
    {
        @Html.Partial(Partials.AdminAnswer, answer);
    }
</div>
@if (Model.PageCount > 1)
{
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
        .AddRouteValue("orderBy", ViewBag.OrderBy)
        .AddRouteValue("searchValue", ViewBag.SearchValue)
        .AddRouteValue("searchProperty", ViewBag.SearchProperty))
    </div>
}

@section JavaScriptToHead {
    @Scripts.Render("~/bundles/jquery")
}
@section JavaScriptToFooter {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        $('body').addClass('answers-page admin');
    </script>
}