@using Crossroads.Web.ViewModels.ProfileViewModels.Messages
@model IList<MessageViewModel>

@foreach (var msg in Model)
{
    <div id="@msg.Id" class="message">
        <div class="message-heading @(msg.IsRead ? "" : "msg-not-read")">
            @Ajax.ActionLink("Изтрий", "DeleteMessage", "ProfileMessages", new { id = msg.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = msg.Id.ToString(),
                            HttpMethod = "DELETE",
                            InsertionMode = InsertionMode.Replace,
                            Confirm = "Потвърждавате ли изтриването?"
                        })

            @Ajax.ActionLink("Детайли", "ReadMessage", "ProfileMessages", new { id = msg.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = msg.Id.ToString(),
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.InsertAfter,
                            OnSuccess = "messageContentShow",
                            OnBegin = "messageContentHide"
                        })
            <div class="msg-title">
                <strong>@msg.AuthorName: </strong>
                <span>@msg.Title</span>
            </div>
        </div>
    </div>
}