@using Crossroads.Web.Areas.Administration.ViewModels.UserViewModels.Interests
@using Crossroads.Web.Infrastructure.Constants
@model IList<InterestOutputViewModel>
@{
    ViewBag.Title = "Интереси";
}

<h2 class="page-title">
    @ViewBag.Title
    @Ajax.ActionLink("Добави интерес", "AddInterest", null,
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "addInterestForm",
            InsertionMode = InsertionMode.Replace
        }, new { @class = "admin-add-item" })
</h2>

<div id="addInterestForm"></div>

@Html.ActionLink("Сортирай", "ListInterests", new { ordered = true }, new { @class = "sort-items" })

<ul id="interestsList" class="boxes">
    @foreach (var interest in Model)
    {
        @Html.Partial(Partials.Interest, interest)
    }
</ul>

@section JavaScriptToFooter {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script>
        $('body').addClass('interests-page');

        function interestFormHide() {
            $('#addInterestForm form').hide()
        }

        function inputClear() {
            $('#addInterestInput').val('');
        }
    </script>
}