@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Categories
@model CategoryOutputViewModel

<div id="categoryDiv@(Model.Id)" class="category">
    <h4>@Model.Name</h4>
    <div class="category-description">
        @Model.Description
    </div>
    <span>теми: @Model.TopicsCount</span>
    <span>отговори: @Model.AnswersCount</span>
    <div class="item-btns">
        @Ajax.ActionLink("Промени", "EditCategory", new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "editCategory" + Model.Id,
                InsertionMode = InsertionMode.Replace
            }, new { @class = "edit-btn" })
        @Ajax.ActionLink("Изтрий", "DeleteCategory", new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "DELETE",
                UpdateTargetId = "categoryDiv" + Model.Id,
                InsertionMode = InsertionMode.ReplaceWith,
                Confirm = "Потвърждавате ли изтриването?"
            }, new { @class = "delete-btn" })
    </div>
    <div id="editCategory@(Model.Id)"></div>
</div>
