@using Crossroads.Web.Areas.Administration.ViewModels.ForumViewModels.Categories
@using Crossroads.Web.Infrastructure.Constants
@model IList<CategoryOutputViewModel>
@{
    ViewBag.Title = "Форум категории";
}


<h2 class="page-title">
    @ViewBag.Title
    @Ajax.ActionLink("Добави категория", "AddCategory", null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "addCategory",
        InsertionMode = InsertionMode.Replace
    }, new { @class = "admin-add-item" })
</h2>

<div id="addCategory"></div>

<div class="sort-by">
    Сортирай по:
    @Html.ActionLink("заглавие", "ListCategories", new { orderBy = "Name" })
    @Html.ActionLink("брой теми", "ListCategories", new { orderBy = "Topics.Count descending" })
</div>


<div id="categoriesList">
    @foreach (var category in Model)
    {
        @Html.Partial(Partials.Category, category)
    }
</div>

@section JavaScriptToHead {
    @Scripts.Render("~/bundles/jquery")
}

@section JavaScriptToFooter {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script>

        $('body').addClass('forum-categories-page');

        function categoryFormHide(id) {
            $(id + ' form').hide()
        }

        function inputsClear() {
            $('#addCategory input[type="text"], #addCategory textarea').val('');
        }
    </script>
}