@using Crossroads.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript {
    @RenderSection("JavaScriptToHead", false)
}

@section Css {
    @RenderSection("CssToHead", false)
}

<a href="javascript:void(0)" id="mobileNavBtn">Меню</a>
<div id="adminNav">
    <ul>
        @{string action = ViewContext.RouteData.Values["Action"].ToString();}

        @if (User.IsInRole(GlobalConstants.AdminRole))
        {
            <li @if (action == "ListUsers") { <text> class="active" </text>     }>@Html.ActionLink("Потребители", "ListUsers", "UsersAdmin")</li>
            <li @if (action == "ListInterests") { <text> class="active" </text>     }>@Html.ActionLink("Интереси", "ListInterests", "Interests")</li>
            <li @if (action == "ListGenres") { <text> class="active" </text>    }>@Html.ActionLink("Музикални стилове", "ListGenres", "MusicGenres")</li>
            <li @if (action == "ListTowns") { <text> class="active" </text>     }>@Html.ActionLink("Градове", "ListTowns", "Towns")</li>
        }
        <li @if (action == "ListCategories") { <text> class="active" </text>     }>@Html.ActionLink("Категории", "ListCategories", "Categories")</li>
        <li @if (action == "ListTopics") { <text> class="active" </text>    }>@Html.ActionLink("Теми", "ListTopics", "TopicsAdmin")</li>
        <li @if (action == "ListAnswers") { <text> class="active" </text>     }>@Html.ActionLink("Отговори", "ListAnswers", "AnswersAdmin")</li>
        <li @if (action == "ListComments") { <text> class="active" </text>     }>@Html.ActionLink("Коментари", "ListComments", "CommentsAdmin")</li>
    </ul>
</div>

@RenderBody()

@section Scripts{
    <script>
        $('#mobileNavBtn').click(function () {
            $('#adminNav').toggle();
        });
    </script>
    @RenderSection("JavaScriptToFooter", required: false)
}